<%- include("header") -%>

<div class="box" id="heading">
    <h1> <%= listTitle %> </h1>
</div>

<div class="box">

    <% for(var count=0; count<newListItems.length; count++ ){ %>
        
            <form method="post" action="/<%= listTitle %>">
                <div class="item">
            <input type="checkbox" onChange="this.form.submit()" name="checkbox" value="<%=  newListItems[count]._id%>">
            <p> <%= newListItems[count].item %> </p>
        </div>
            </form>
    <%} %>

    <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item" value="" autocomplete="off">

        <button type="submit" name="list" value=<%= listTitle %> >+</button>
    </form>

</div>

<%- include("footer") -%>
